sudo: required
services:
  - docker

script:
  - docker build -t "$DOCKER_USERNAME/$DOCKER_REPONAME" ./debian
  - docker images
  - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then docker login -u "$DOCKER_USERNAME" --password-stdin <<< "$DOCKER_PASSWORD"; fi'
  - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then docker push "$DOCKER_USERNAME/$DOCKER_REPONAME"; fi'
